<div class="row" ng-controller="contactsCtrl">
	<div class="container">
		<div class="col-md-10">

			<!-- Message -->
			<div class="alert alert-info alert-dismissible" role="alert" ng-show="message">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>{{message}}</strong>
			</div>


			<!-- Add Form -->
			<form class="well" ng-show="showForm" ng-submit="submitContactForm()">
				<div class="col-md-3">
					<div class="form-group">
						<label for="">User Name</label>
						<input type="text" class="form-control" ng-model="name" id="" placeholder="User name" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Company Name</label>
						<input type="text" class="form-control" ng-model="company" id="" placeholder="Company Name" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Email Id</label>
						<input type="email" class="form-control" ng-model="email" id="" placeholder="Email Id" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<input type="submit" style="margin-top:10%;" class="btn btn-primary" value="Add Contact"/>
					</div>
				</div>
				<div class="clearfix"></div>
			</form>


			<!-- Edit form / update form -->
			<form class="well" ng-show="updateForm" ng-submit="editContactFormSubmit()">
				<div class="col-md-3">
					<div class="form-group">
						<label for="">User Name</label>
						<input type="text" class="form-control" ng-model="name" id="" placeholder="User name" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Company Name</label>
						<input type="text" class="form-control" ng-model="company" id="" placeholder="Company Name" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label for="">Email Id</label>
						<input type="email" class="form-control" ng-model="email" id="" placeholder="Email Id" required/>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<input type="submit" style="margin-top:10%;" class="btn btn-primary" value="Update"/>
					</div>
				</div>
				<div class="clearfix"></div>
			</form>


			<!-- Form Details -->
			<div class="panel panel-default" ng-show="showContact">
				<div class="panel-heading">Details</div>
				<div class="panel-body">
					<ol>
						<li><strong>Name:</strong> {{name}}</li>
						<li><strong>Comapany:</strong> {{company}}</li>
						<li><strong>Email:</strong> {{email}}</li>
					</ol>
				</div>
			</div>
			<p><strong>Total Contacts: </strong>{{contacts.length}}</p>

			<!-- List of all users -->
			<table class="table table-bordered">
				<thead> 
					<tr>
						<th>User Name</th> 
						<th>Company Name</th>
						<th>Email Id</th> 
						<th>Action</th>
					</tr> 
				</thead> 
				<tbody> 
					<tr ng-repeat="contact in contacts">
						<th><a href="javascript:void(0);" ng-click="showContactDetails(contact)">{{contact.name}}</a></th>
						<td>{{contact.company}}</td>
						<td>{{contact.email}}</td> 
						<td><button type="button" class="btn btn-info" ng-click="showEditContactForm(contact)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button> <button type="button" class="btn btn-danger" ng-click="removeContactForm(contact)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button></td>
					</tr>
				</tbody> 
			</table>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-primary" ng-click="showContactForm()" ng-hide="showForm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-primary" ng-click="hideContactForm()" ng-show="showForm"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-primary" ng-click="hideContactForm()" ng-show="showContact"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-primary" ng-click="hideContactForm()" ng-show="updateForm"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
		</div>
	</div>
</div>